@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply text-orange-400;
  }
}

@layer components {
}
@layer utilities {
  .custom-scrollbar {
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: transparent transparent; /* Firefox */
    overflow: overlay;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(255, 0, 0, 0.5);
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: padding-box;
  }
}

.btn {
  @apply w-full bg-orange-400  text-white text-center font-medium rounded-md hover:bg-orange-300 transition-colors;
}
